body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-flex;
  padding: 30px;
}

div > h3 {
  margin-right: 100px;
}

.nav-h1 {
  margin-left: 100px;
}
